.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    justify-content: space-between;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);
    padding: 1.5% 2.5%;
    background-color: white;
}

.header button {
    margin:0;
    background-color: #fed497;
    padding: 20px 25px;
    border-radius: 10px;
    border:none;
    font-size: x-large;
    font-family: Rubik;
    font-weight: 500;


}
.header-logo {
    width: 350px;
    height: 75px;
}

.nav-bar  {
    display: flex;
    align-items: center;
    justify-content: center;
}


.nav-bar li {
    list-style: none;
    padding: 0 20px;
    position: relative;
}

.nav-bar li a, link {
    text-decoration: none;
    font-size: 18px;
    color:#9e9c90;
    transition: 0.3s  ease;
    font-family: Rubik;
    font-weight: 500;
    font-size: x-large;
    
}


.nav-bar li a:hover,
.nav-bar li a.active {
    color:#fed497;

}

.nav-bar li a.active::after,
.nav-bar li a:hover::after {
    content: '';
    width: 30%;
    height: 2px;
    background:#fed497;
    position: absolute;
    bottom: -4px;
    left: 20px;
}


.hero {
    background: white;
    display:flex;
    justify-content: space-around;
}


.hero-text {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-left: 5%;
    padding-right: 5%;
    
}
.hero-text h1 {
    text-align: center;
    font-size: xxx-large;
    padding:20px;

}
.hero-text h4 {
    font-family: Rubik;
    font-weight: 500;
    padding: 20px;
}

.hero-text button {
    font-family: Rubik;
    font-weight: 500;
    background-color: #fed497;
    border:none;
    border-radius: 10px;
    padding: 20px;
}



.hero-img img {
    width: 800px;
    height: 800px;
    padding: 50px
}


.footer {
    display:grid;
    justify-content: space-between;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    row-gap: 10px;
    padding: 40px 10%;

    
}

.footer-section-1{
    text-align: left;
}

.footer-section-1 p {
    padding: 10px;
}



.footer-section-2 {
    text-align: center;
}

.footer-section-2 h5, p {
    padding: 10px;
}

.footer-section-3 {
    text-align: center;
}

.footer-section-3 h5, p {
    padding: 10px;
}

.footer-img {
    width: 200px;
    height: 50px
}

.footer-section-4 h5, p, form {
    padding: 10px;
}
.footer-section-4 {
    text-align: left;
    position:relative;
}

.footer-form {
    position:relative;
    padding:20px;
    margin:10px 0;
}

.footer-form input {
    background-color: #fff4e6;
    padding:15px;
    width: fit-content;
    position:absolute;
    left:0;
    top:0;
    width: 100%;
    border:none;
    border-radius:10px;
    outline:none;
}
.footer-form button {
    background-color: #fed497;
    padding:15px;
    border-radius: 10px;
    right: 0;
    top: 0;
    position: absolute;
    border:none;
    
} 

.media img {
    width:30px;
    height:30px;
    margin: 20px 30px 20px 10px;
}

/* Banner */

.banner-img {
    display:flex;
    justify-content: center;
    position:relative;
}

.banner img {
    width:60%;
    height:60%;
}

.banner-button:hover {
    transform: scale(110%);
    cursor:pointer;
}
.banner-img h1 {
    position: absolute;
    top:25%;
    right:25%;
    font-size: x-large;
    

}

.banner-img button {
    position: absolute;
    top:50%;
    right:34%;
    font-size: x-large;

    background-color: #fff4e6;
    padding: 15px;
    border-radius: 10px;
    border: none;
}